################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/DataSpider/obj/Debug
/.vs/DataSpider/v15/Server/sqlite3
/DataSpider/bin/Debug
/.vs/DataSpider/v15
