<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Banana.Uow" version="1.1.0" targetFramework="net461" />
  <package id="Dapper" version="1.50.5" targetFramework="net461" />
  <package id="Dapper.Contrib" version="1.50.5" targetFramework="net461" />
  <package id="Google.Protobuf" version="3.15.0" targetFramework="net461" />
  <package id="HtmlAgilityPack" version="1.8.11" targetFramework="net461" />
  <package id="log4net" version="2.0.10" targetFramework="net461" />
  <package id="MySql.Data" version="8.0.13" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="System.Data.SqlClient" version="4.8.6" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.109.2" targetFramework="net461" />
</packages>